<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net461" />
  <package id="Open3270" version="1.5.0.1" targetFramework="net461" />
  <package id="Selenium.Support" version="2.53.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="2.53.0" targetFramework="net461" />
  <package id="TestStack.Seleno" version="0.9.61" targetFramework="net461" />
  <package id="TestStack.White" version="0.13.3" targetFramework="net461" />
  <package id="TestStack.White.Uia3" version="0.13.3" targetFramework="net461" />
  <package id="TestStack.White.WebBrowser" version="0.13.3" targetFramework="net461" />
  <package id="UIAComWrapper" version="1.1.0.14" targetFramework="net461" />
</packages>